*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

shader-canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

nav {
  position: fixed;
  padding: 1rem;
  top: 1rem;
  right: 1rem;
  background: #fff;
  border-radius: 0.5rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
