<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Hello World example :)
    style
      include _styles.css
  body
    nav
      include:markdown-it partials/nav.md
    main
      shader-canvas(dpr=auto)
        script(type="vert")
          include:glslminify shaders/example-01.vs
        script(type="frag")
          include:glslminify shaders/example-01.fs
    script(src="shader-canvas.umd.min.js")
